<?xml version='1.0' encoding='ASCII'?>
<model>
  <name>Transparent Wall</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Malika Navaratna</name>
    <email>malika-</email>
  </author>
  <description>A Transparent wall to stop robot from falling off the edge</description>
</model>
top